<!--
<div class="row">
	<div class="col-xs-6 main-block-wana">
		<a ui-sref="index.wana" class="block-name">ワナセンサーの確認</a>
	</div>
	<div class="col-xs-6 main-block-hatake">
		<a ui-sref="index.hatake" class="block-name">畑センサーの確認</a>
	</div>
	<div class="col-xs-12 oshirase">
		<h2>お知らせ</h2>
		<p>表示なし</p>
	</div>
</div>-->
<div class="row">
    <div class="col-sm-12">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp center-me">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text" style="color: #2c3e50">罠へ</h2>
          </div>
          <div class="mdl-card__supporting-text">
            クリックすると罠一覧が見れます。
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a ui-sref="index.wana" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              罠を見る
            </a>
          </div>
        </div>
    </div>
<!--     <div class="col-sm-6">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp center-me">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text" style="color: #2c3e50">罠へ</h2>
          </div>
          <div class="mdl-card__supporting-text">
            クリックすると罠一覧が見れます。
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a ui-sref="index.wana" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              罠を見る
            </a>
          </div>
        </div>
    </div> -->
<!--
    <div class="col-sm-6">
            <div class="card card-block card-info" style="width: 22rem; height: 22rem; text-align: center; border: 1px solid #FFFFFF; background: #FFFFFF; -webkit-border-radius: 15px; -moz-border-radius: 15px">
                <h3 class="card-title">サル・畑</h3>
                <p class="card-text">クリックするとセンサーの一覧が見れます。</p>
                <a class="btn btn-primary">センサーを見る</a>
            </div>
    </div>
-->
</div>

    